<launch>
    <node pkg="tf"
          type="static_transform_publisher"
          name="base_to_laser_broadcaster"
          args="0.085 0 0.085 0 0 0 base_link base_laser 100"
     />

    <node pkg="tf"
          type="static_transform_publisher"
          name="base_to_imu_broadcaster"
          args="0.075 0 0.036 180 0 0 base_link base_imu 100"
     />
</launch>
