<launch>
<node name="map_server" pkg="multi_map_server" type="multi_map_server" args="$(find map_launcher)/indoor-1.yaml">
<param name="topic_id" value="map"/>
</node>

<node name="map_server_allowed" pkg="multi_map_server" type="multi_map_server" args="$(find map_launcher)/map_allowed.yaml">
<param name="topic_id" value="allowed_area"/>
</node>
</launch>
