<robot name="artv">

    <link name="base_link"/>
    <link name="laser"/>

    <!--joint name="base_odom" type="fixed">
        <parent link="base_link">
        <child link="odom">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint-->
    <joint name="base_laser" type="fixed">
        <parent link="base_link"/>
        <child link="laser"/>
        <origin xyz="0 0 0.3" rpy="0 0 0"/>
    </joint>

</robot>
